  <script src="js/generatorUtils.js"></script>
  <script src="js/assertTransformationLogic.js"></script>
  <script src="js/CondizioneDaVerificare.js"></script>
  <script src="js/creazioneCondizioni.js"></script>
  <script src="js/deleteDuplicates.js"></script>
  <script src="js/app.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <div id="app" class="container">

  <div style="display: grid; grid-template-columns : 3fr 1fr;"> 
    <div></div>
    <div style="display: grid; grid-template-columns : 5fr 1fr 5fr;">
        <img src="img\flags\IT_FLAG.png" style="height: 75%; width: 100%" @click="setLanguage('it')"/>
        <div></div>
        <img src="img\\flags\EN_FLAG.png" style="width: 100%" @click="setLanguage('en')"/>    
    </div>
</div>

<p id="jsonHeader">Header: </p>
<button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" @click="changeDataOffCanvasHeader">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
    <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4"/>
  </svg>
</button>



<p id="jsonBody"> {{labels.bodyInfo}}</p>
<tree-element :element="completeJson.firstNode" :indent-level="0" :node-path="'base'" :suffix-sequence="''" :previous-conditions="[['', '']]"  :labels="labels"></tree-element>

   
<div style="width: 75%;" class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header" style="width: 75%;">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">{{currentTitleOffCanvas}}</h5>
  </div>
  <div class="offcanvas-body" style="width: 75%;">
    <template v-if="canvasCase == 'body'">
      <div class="row">
        <div class="col-6">
          <p> {{labels.previousConditionsReadonly}}  </p>
        </div>
        <div class="col-6">
          <p>{{labels.previousConditionsDesidered}} </p>
        </div>
      </div>
      <template v-for="(cond, i) in previousConditions">
        <div class="row" v-if="currentDataOffCanvas.commonConditions!=null && currentDataOffCanvas.commonConditions[i]!=null">
          <div class="col-6">
            <textarea v-model="cond[0]" readonly="true" style="width: 100%;"></textarea>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-10">
                <textarea v-model="currentDataOffCanvas.commonConditions[i][0]" style="width: 100%;"
                  @change="generateOutputForCanvas"></textarea>
              </div>
              <div class="col-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy"
                  viewBox="0 0 16 16" @click="copyPrecedentConditions(i)">
                  <path fill-rule="evenodd"
                    d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </template>

      <p>{{labels.trueConditions}}</p> 
      <template v-for="(condition, i) in currentDataOffCanvas.trueConditions">
        <p>{{labels.trueConditionNTime}}  {{(i+1)}}</p>
        <textarea v-model="currentDataOffCanvas.trueConditions[i]" @change="generateOutputForCanvas" style="width: 100%;"></textarea>
      </template> 
      <button class="btn btn-success" type="button" @click="addCondition(currentDataOffCanvas.trueConditions)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16" >
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
      </button>
      <button class="btn btn-danger" type="button" @click="deleteCondition(currentDataOffCanvas.trueConditions)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
          <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5"/>
          <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
        </svg>
      </button>

      <p>{{labels.falseConditions}} </p> 
      <template v-for="(condition, i) in currentDataOffCanvas.falseConditions">
        <p>{{labels.falseConditionNTime}}  {{(i+1)}}</p>
        <textarea v-model="currentDataOffCanvas.falseConditions[i]" @change="generateOutputForCanvas" style="width: 100%;"></textarea>
      </template>
      <button class="btn btn-success" type="button" @click="addCondition(currentDataOffCanvas.falseConditions)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16" >
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
      </button>
      <button class="btn btn-danger" type="button" @click="deleteCondition(currentDataOffCanvas.falseConditions)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
          <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5"/>
          <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
        </svg>
      </button>
      <br/>

      <span> {{labels.assertTrue}} </span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-square" viewBox="0 0 16 16" @click="transformAssert(true)">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0m2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0"/>
      </svg>
      <textarea v-model="currentDataOffCanvas.assertTrue" @change="generateOutputForCanvas" style="width: 100%;"></textarea>
      
      <br/>
      <span> {{labels.assertFalse}} </span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-square" viewBox="0 0 16 16" @click="transformAssert(false)">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0m2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0"/>
      </svg>
      <textarea v-model="currentDataOffCanvas.assertFalse" @change="generateOutputForCanvas" style="width: 100%;"></textarea>

      <p>{{labels.associatedGenerated}}  </p>
      <textarea readonly="false" rows="100" style="width: 100%" v-model="outputCanvas"></textarea>
      
    </template>

    <template v-if="canvasCase == 'header'">
      <p>{{labels.commonHeader}}</p> 
      <textarea v-model="currentDataOffCanvas.commonHeader" @change="showChangesInJson" style="width: 100%;"></textarea>
      
      <p>{{labels.methodName}}</p> 
      <textarea v-model="currentDataOffCanvas.methodName" @change="showChangesInJson" style="width: 100%;"></textarea>
      
      <p>{{labels.callOfTheMethodStr}}</p> 
      <textarea v-model="currentDataOffCanvas.callOfTheMethodStr" @change="showChangesInJson" style="width: 100%;"></textarea>
      
      <p>{{labels.throwsStr}}</p> 
      <textarea v-model="currentDataOffCanvas.throwsStr" @change="showChangesInJson" style="width: 100%;"></textarea>
    </template>
    
  </div>
</div>



<br/>
<p id="insertJsonToTransform"> </p>
<textarea rows="30" style="width: 100%" v-model="jsonDataStr" id="jsonDataStr" @change="showStructure"></textarea>
<label for="flgCarryOneResult" id="lblCarryOneResult">  </label><br>
<input type="checkbox" id="flgCarryOneResult">
<button @click="generateOutput()"> {{labels.generateOutput}}</button>

<br/><br/><br/>
<p> Output: </p>
<textarea rows="30" style="width: 100%" id="outputResult" v-model="output"></textarea>


<a id="instructions_link" href="instructions_for_user/instructions.html"></a>
</div>